html,
body,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Raleway", sans-serif
}

/* https://stackoverflow.com/questions/64997928/how-to-offset-a-anchor-link-to-clear-fixed-header */
:target:before {
    content: "";
    display: block;
    height: 100px;
    margin: -100px 0 0;
}

.w3-modal{
    z-index: 12 !important;
}
